<%- include('partials/header') %>

    <div class="container">
      <h1 class="test-title"><%= testTitle %></h1>
      <form action="/test/<%= testTitle %>" method="post">
        <div class="form-group">
          <label>Question</label>
          <textarea class="form-control" type="text" name="question" required></textarea>
          <label>Answer</label>
          <textarea class="form-control" name="answer" required></textarea>
        </div>
        <a href="#" onclick="createForm();">+ Add Question</a>
        <br><br>
        <button class="btn btn-primary" type="submit" name="testTitle" value="<%= testTitle %>">Submit Test</button>
      </form>
    </div>

<%- include('partials/footer') %>